@keyframes banner-slide-animation-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes banner-slide-animation-left {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

body {
    overflow-x: hidden;
}

#main-top {
    padding-top: 20px;
}

#banner-carousel-top,
#banner-carousel-shadow-top,
#banner-carousel-bottom,
#banner-carousel-shadow-bottom {
    position: relative;
    height: 233px;
    margin-bottom: 20px;
    display: flex;
    width: fit-content;
    gap: 25px;
}

#banner-shadow-top,
#banner-shadow-bottom {
    height: 80px;
    overflow: hidden;
}

#banner-carousel-top img,
#banner-carousel-shadow-top img,
#banner-carousel-bottom img,
#banner-carousel-shadow-bottom img {
    margin: 0px 0px;
    border-radius: 20px;
}

#banner-carousel-shadow-top img {
    transform: rotatex(180deg);
    filter: blur(8px) brightness(1.5);
    mask-image: linear-gradient(transparent 75%, white 100%);
}

#banner-carousel-shadow-bottom img {
    transform: rotatex(180deg) translateY(175px);
    filter: blur(8px) brightness(1.5);
    mask-image: linear-gradient(to top, transparent 75%, white 100%);
}

#banner-carousel-top img:hover,
#banner-carousel-bottom img:hover,
.hoverable-img:hover {
    transition: transform 0.25s ease;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#banner-carousel-top img:not(:hover),
#banner-carousel-bottom img:not(:hover),
.hoverable-img:not(:hover) {
    transition: transform 0.25s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#banner-carousel-top,
#banner-carousel-shadow-top {
    animation: banner-slide-animation-right 10s ease-out infinite;
}

#banner-carousel-bottom,
#banner-carousel-shadow-bottom {
    animation: banner-slide-animation-left 10s ease-out infinite;
}

#banner-text-menu {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#banner-text-title {
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 40px;
    text-align: center;
}

#banner-text-content {
    color: white;
    width: 800px;
    font-size: 25px;
    text-align: center;
}

#main-mid {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}

.info-img {
    width: 600px;
    height: 400px;
    border-radius: 25px;
}

.info-text-menu {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-text {
    text-align: center;
    color: white;
    font-size: 28px;
}

#main-bottom {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 80px;
}

#offer-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#home-button {
    margin-top: 20px;
    background-color: #4f447b;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#home-button:hover {
    background-color: #816cd4;
    transition: transform 0.25s ease;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#home-button:not(:hover) {
    background-color: #4f447b;
    transition: transform 0.25s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}
